<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <title>OnClickCoin</title>
  </head>
  <body>
      <body style="background-color: #ffd306">

    <noscript>You need to enable JavaScript to run this app.</noscript>
    IN RECEIPT.ejs
    <div id="contract-receipt"></div>
    <script src="bundle.js"></script>
  </body>
</html>
