/*

no prefix for element styles

Please keep it alphabetical
*/
body {
  background-image: url("../components/images/background03.jpg"); /*awesome: 34,26, 03, 040*/
  background-size: cover;
  text-align: center;
  font-family: Orbitron;
}

button {
  background: rgb(255, 255, 255)
}

/*


prefix is . for classname styles

Please keep it alphabetical
*/

/* edits the labels (e.g. Name of your coin, Divisibility) */
.form {
  width: 100%;
  text-align: center
}

.form label {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}

/* label lext (e.g Name of your coin) */
.form label > span {
  display: center;
  width: 50%;
  color: #3846b4;
  font-weight: bold;
  font-size: 15px;
  text-align: left
}

/* full surruounding form */
.form fieldset {
  border-radius: 15px;
  border: 2px solid rgb(33, 33, 233);
  background: rgb(255, 255, 255);
  width: 100%;
}

/* thing on top of the form (Your coin parameters) */
.form fieldset legend {
  color: #3846b4;
  border-top: 1px solid rgb(58, 20, 20);
  border-left: 1px solid rgb(58, 20, 20);
  border-right: 1px solid rgb(58, 20, 20);
  border-bottom: 1px solid rgb(58, 20, 20);
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  font: "Lucida Sans Unicode";
  font-size: 24px;
}

.form input[type="text"] {
  border-radius: 3px;
  border: 1px solid rgb(29, 3, 95);
  color: #3846b4;
  font-weight: bold;
  background: rgb(255, 255, 255);
  width: 10%;
  text-align: left;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left: 10px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*


prefix # for id styles

Please keep it alphabetical
*/
#myBar {
  width: 25%;
  background-color: blue;
  display: none;
}

#myProgressBar {
  width: 1%;
  height: 30px;
  background-color: green;
  text-align: left; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  display: none;
}
