.ContractButton {
    -moz-box-shadow: 0px 0px 0px 2px #8b9fd6;
    -webkit-box-shadow: 0px 0px 0px 2px #8b9fd6;
    box-shadow: 0px 0px 0px 2px #8b9fd6;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #182b4a),
      color-stop(1, #3d5d85)
    );
    background: -moz-linear-gradient(top, #182b4a 5%, #3d5d85 100%);
    background: -webkit-linear-gradient(top, #182b4a 5%, #3d5d85 100%);
    background: -o-linear-gradient(top, #182b4a 5%, #3d5d85 100%);
    background: -ms-linear-gradient(top, #182b4a 5%, #3d5d85 100%);
    background: linear-gradient(to bottom, #182b4a 5%, #3d5d85 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#182b4a', endColorstr='#3d5d85',GradientType=0);
    background-color: #182b4a;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 3px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 4px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #283966;
    margin-left: 30%;
    margin-bottom: 5px
  }
  .ContractButton:hover {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #3d5d85),
      color-stop(1, #182b4a)
    );
    background: -moz-linear-gradient(top, #3d5d85 5%, #182b4a 100%);
    background: -webkit-linear-gradient(top, #3d5d85 5%, #182b4a 100%);
    background: -o-linear-gradient(top, #3d5d85 5%, #182b4a 100%);
    background: -ms-linear-gradient(top, #3d5d85 5%, #182b4a 100%);
    background: linear-gradient(to bottom, #3d5d85 5%, #182b4a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d5d85', endColorstr='#182b4a',GradientType=0);
    background-color: #3d5d85;
  }
  .ContractButton:active {
    position: relative;
    top: 1px;
  }