.form {
  width: 50%;
  margin: auto;
}

.form label {
  color: #3846b4;
  font-size: 18px;
}

.form label > span {
  font-weight: bold;
  float: left;
  padding-right: 5px;
}

/* full surruounding form */
.form fieldset {
  border-radius: 15px;
  border: 2px solid rgb(33, 33, 233);
  background: rgb(255, 255, 255);
  width: 100%;
}

/* thing on top of the form (Your coin parameters) */
.form fieldset legend {
  color: #3846b4;
  border-top: 1px solid rgb(58, 20, 20);
  border-left: 1px solid rgb(58, 20, 20);
  border-right: 1px solid rgb(58, 20, 20);
  border-bottom: 1px solid rgb(58, 20, 20);
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  font: 'Lucida Sans Unicode';
  font-size: 24px;
}

.form input {
  display: block;
  border-radius: 3px;
  border: 1px solid rgb(29, 3, 95);
  color: #3846b4;
  font-weight: bold;
  background: rgb(255, 255, 255);
  width: auto;
  float: right;
}
