<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:700|Orbitron|Rubik|Ubuntu|Roboto|Roboto+Mono|Montserrat|Montserrat+Subrayada&display=swap"
    rel="stylesheet" />
  <title>OnClickCoin</title>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <script src="bundle.js"></script>
</body>

</html>